/* pdf.css */

.button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.download-button {
  padding: 30px 20px;
  background-color: #428bca;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.pdf-viewer-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}
.empty-viewer {
  font-size: 18px;
  color: gray;
}
