/* pdf.css */

.button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.download-button {
  padding: 10px 20px;
  background-color: #428bca;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.pdf-viewer-container {
  height: 100%;
  width: 90%;
  align-items: center;
  margin: auto !important;
}

/* Alte stiluri specifice pentru vizualizatorul PDF */
